node_modules/
.pnpm-store/
.npm/
.yarn/
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
package-lock.json

.turbo/
.next/
out/
dist/
build/
coverage/

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

*.tsbuildinfo
*.d.ts.map
*.js.map
*.swp
*.swo
